body {
    /* transition: 0.2s all ease-in; */
}

body.dark {
    background: #1e1e1e;
    color: #fff;
}

body.dark hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark .card {
    background: #1e1e1e;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
